body {
  background-color: black;
  margin: 2.5em;
  font-family: 'Poppin', sans-serif;
}

body section.hero {
  color: #3abcf8;
  position: relative;
  text-align: center;
}

body section.hero h1 {
  visibility: collapse;
}

body section.hero img {
  width: 80px;
  height: 80px;
  margin-bottom: 1.5em;
}

body section.hero img:hover {
  width: 90px;
  height: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background: #2d2d49;
  opacity: 90%;
  height: 100vh;
  width: 50%;
  z-index: 999;
  text-transform: uppercase;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}

nav ul a {
  color: #3abcf8;
  padding: .75em 2em;
  display: block;
  width: 100%;
}

nav ul a:hover {
  background-color: black;
}

nav .close {
  float: right;
  margin: 1em;
  width: 2.5em;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header svg {
  width: 3em;
  margin-top: -0.6em;
}

.logo {
  color: #3abcf8;
  font-weight: bold;
}

.logo span {
  color: #4343bf;
}

.open-nav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.open-nav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media only screen and (min-width: 680px) {
  body {
    margin: 1.5em 5em;
    font-family: 'Poppin', sans-serif;
  }
  body h1 {
    visibility: visible;
  }
  body section.hero {
    text-align: left;
  }
  body img {
    width: 80px;
    height: 80px;
    margin-bottom: 1.5em;
    margin-left: 3em;
  }
  body img:hover {
    width: 90px;
    height: 90px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

@media only screen and (min-width: 920px) {
  .menu {
    display: none;
  }
  body {
    padding-top: 2em;
  }
  body section.hero {
    color: #3abcf8;
    position: relative;
    text-align: center;
  }
  body section.hero h1 {
    visibility: collapse;
  }
  body section.hero img {
    width: 140px;
    height: 140px;
  }
  body section.hero img:hover {
    width: 160px;
    height: 160px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .cards {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 4em;
    margin-left: 2em;
  }
  .cards img {
    height: 200px;
    width: 200px;
  }
  .logo {
    position: relative;
  }
  nav {
    position: right;
    right: 215px;
    top: 0;
    background: black;
    opacity: 100%;
    height: 1vh;
    width: 20%;
    z-index: 999;
    text-transform: uppercase;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 3em;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  nav ul a {
    color: #3abcf8;
    display: block;
    width: 55%;
  }
  nav ul a:hover {
    background-color: #2d2d49;
  }
  nav .close {
    display: none;
  }
  .hero-img {
    position: absolute;
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */