{% extends "base.html" %}
{% load static %}

{% block content %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <div>
        <h1 style="color:aliceblue">IOT</h1>
        <button id="button_on">ON</button>
        <button id="button_off">OFF</button>
        <button id="slug">slug</button>
    </div>
    
    <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
    </div>
    
    <script>
        var button = document.getElementById('button_on');
            button.onclick = function() {
                window.location.assign('/simple_function_on');
            }
        var button = document.getElementById('button_off');
            button.onclick = function() {
                window.location.assign('/simple_function');
            }
        var button = document.getElementById('slug');
            button.onclick = function() {
                window.location.assign('/test_slug/drama');
            }
        var slider = document.getElementById('slidecontainer');
            slider.ondrop = function() {
                window.location.assign('/slider_function');
            }
    </script>

{% endblock %}
